@page
@model ChangePasswordModel

@{
	ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>
<form id="login" method="post">
	<div asp-validation-summary="ModelOnly"></div>
	<div class="form-group">
		<label asp-for="Input.CurrentPassword"></label>
		<input class="form-control" asp-for="Input.CurrentPassword" />
		<span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.NewPassword"></label>
		<input class="form-control" asp-for="Input.NewPassword" />
		<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.ConfirmNewPassword"></label>
		<input class="form-control" asp-for="Input.ConfirmNewPassword" />
		<span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Change password...</button>
	<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}