@model OMS.Models.ChildMember

@{ 
	ViewData["Title"] = "New Child Member";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-lg">
		<form id="create-child-member" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input asp-for="MemberNo" type="hidden" />
				<label asp-for="MemberNo"></label>
				<input asp-for="MemberNo" class="form-control" disabled />
				<label asp-for="Member.FirstName"></label>
				<input asp-for="Member.FirstName" class="form-control" disabled />
				<label asp-for="Member.LastName"></label>
				<input asp-for="Member.LastName" class="form-control" disabled />
			</div>
			<div class="form-group">
				<label asp-for="DoB"></label>
				<input asp-for="DoB" class="form-control" value="" />
				<span asp-validation-for="DoB" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ParentFirstName"></label>
				<input asp-for="ParentFirstName" class="form-control" />
				<span asp-validation-for="ParentFirstName" class="text-danger"></span>
				<label asp-for="ParentLastName"></label>
				<input asp-for="ParentLastName" class="form-control" />
				<span asp-validation-for="ParentLastName" class="text-danger"></span>
				<label asp-for="EmergencyContactNo"></label>
				<input asp-for="EmergencyContactNo" class="form-control" />
				<span asp-validation-for="EmergencyContactNo" class="text-danger"></span>
				<label asp-for="ParentEmailAddress"></label>
				<input asp-for="ParentEmailAddress" class="form-control" />
				<span asp-validation-for="ParentEmailAddress" class="text-danger"></span>
				<label asp-for="Consent"></label>
				<input asp-for="Consent" class="form-control" />
				<span asp-validation-for="Consent" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button id="create-child-member-submit" type="submit" class="btn btn-primary">Save...</button>
			</div>
		</form>
	</div>
</div>